body {
  margin: 0;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  user-select: none;
}

.nav {
  background-color: #012a4a;
}

.navLink {
  text-decoration: none;
  color: #fff;
  user-select: none;
}

.navLink:hover {
  color: #fff;
  background-color: #6c757d;
}

.header {
  margin-bottom: 25px;
}

.tabla {
  margin-top: 40px;
}

table {
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.tablahead {
  background-color: #012a4a !important;
  color: #fff !important;
}

.tablahead th {
  border: 0;
}

.nombre,
.domicilio {
  text-decoration: none;
  font-weight: normal;
}

.nombre {
  cursor: pointer;
}

.depenName {
  font-weight: normal;
}

.submit {
  background-color: #012a4a !important;
  color: #fff !important;
}

.formulario {
  width: 70% !important;
  margin-top: 10%;
}

.sinDatos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  height: 400px;
}

@media only screen and (min-width: 576px) {
  .formulario {
    width: 50% !important;
  }
}

@media only screen and (min-width: 768px) {
  .formulario {
    width: 40% !important;
  }
}

@media only screen and (min-width: 992px) {
  .formulario {
    width: 30% !important;
  }
}

@media only screen and (min-width: 1200px) {
  .formulario {
    width: 20% !important;
  }
}

@media only screen and (max-width: 576px) {
  .buscador {
    margin-top: 12px !important;
  }
}
